# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad/
xcuserdata/
*.xcscmblueprint
*.xccheckout

# Swift Package Manager
.swiftpm/
Packages/
Package.resolved

# Maestro
*.png
.maestro/

# macOS
.DS_Store

# OMC state
.omc/
